.contactForm {
  margin: 10vh;
}
.btn-submit {
  width: 150px;
  margin-top: 50px;
  background: #393b44;
}
Form {
  display: inline-block;
  justify-content: space-between;
}

.bey {
  width: 100vh;
  border: none;
  border-bottom: 0.5px solid #8d93ab;
  margin-left: 20px;
}
.btn-submit {
  width: 20vh;
  background: transparent;
}
